
@font-face {
  font-family: 'WinSoftPro-Medium';
  src: url('WinSoftPro-Medium.eot?#iefix') format('embedded-opentype'),  url('WinSoftPro-Medium.woff') format('woff'), url('WinSoftPro-Medium.ttf')  format('truetype'), url('WinSoftPro-Medium.svg#WinSoftPro-Medium') format('svg');
  font-weight: normal;
  font-style: normal;
}
